@model Muzik.Models.Sarkilar

@{
    ViewData["Title"] = "Detay";
}


<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SarkiId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SarkiAd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumAd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CikisYili)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tur)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SarkiSuresi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SarkiSuresi)
        </dd>
    </dl>
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="SarkiId" />
    <input type="submit" value="Delete" class="btn btn-primary" /> |
    <a asp-action="Index"class="btn btn-primary">Geri Dön</a>
</form>
<div>
</div>
